<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{#if home}}
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    {{/if}}
    {{#if nofound}}
    <link rel="stylesheet" href="/css/404.css" type="text/css">
    {{/if}}
</head>
<body>
    <header>
        <div class="header">
            <a href="/"><h1>Codeforces API</h1></a>
        </div>
    </header>
    <div class="body">
        {{{body}}}
    </div>
    <footer>
        <h3>Website made by Srajan</h3>
        <h4>&copy; Srajan Gupta 2020</h4>
    </footer>
</body>
{{#if contests}}
    <script src="/js/contests.js"></script>
{{/if}}  
{{#if problems}}
    <script src="/js/question.js"></script>
{{/if}}  
{{#if home}}
    <script src="/js/home.js"></script>
{{/if}}
</html>