<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="header">
            <h1>Codeforces</h1>
        </div>
    </header>
    <div class="body">
        {{{body}}}
    </div>
    <footer>
        <h3>Website made by Srajan</h3>
    </footer>
</body>
{{#if contests}}
    <script src="/js/contests.js"></script>
{{/if}}
</html>