$bgcolor: #afafaf;
$head-bg: #222;
$head-ft: #fff;
.options {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    margin-top: 4%;
    .opt {
        box-sizing: border-box;
        flex: 50%;
        background-color: #efefef;
        margin: 10px;
        text-align: center;
        max-width: 40%;
        min-width: 30%;
        max-height: 40vh;
        min-height: 30vh;
        border-radius: 5px;
        padding-top: 2%;
        transition-property: box-shadow;
        transition-duration: 500ms;
        transition-timing-function: linear;
        margin-right: 5%;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 4px 4px #121212;
            background-color: #444;
            color: #ccc;
            .opt-body {
                color: $head-ft;
            }
        }
        &-head {
            color: dar($head-bg, 40%);
            font-size: 120%;
        }
        &-body {
            color: lighten($head-bg, 1%);
            font-weight: 500;
            font-size: 120%;
        }
    }
}

@media (max-width: 720px) {
    .options {
        padding-left: 14%;
        margin-top: 15%;
        .opt {
            flex: 80%;
            max-width: 80%;
            max-height: 30vh;
            min-height: 20vh;
            &-head {
                font-size: 100%;
            }
            &-body {
                font-size: 100%;
            }
        }
    }
}