<div class="options">
    <div class="opt contest">
        <div class="opt-head">
            <h1>Contests</h1>
        </div>
        <div class="opt-body">
            <p>Get list of all codeforces contest</p>
        </div>
    </div>
    <div class="opt problems">
        <div class="opt-head">
            <h1>Problems</h1>
        </div>
        <div class="opt-body">
            <p>Get list of all codeforces problems</p>
        </div>
    </div>
    <div class="opt">
        <div class="opt-head">
            <h1>Contests</h1>
        </div>
        <div class="opt-body">
            <p>Get list of all codeforces contest</p>
        </div>
    </div>
</div>